<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

//Parte principal do codigo,
//aqui verificamos se realmente existe o endereço atribuido na url

RewriteRule ^(.*) index.php?pag=$1 [L,QSA]
</IfModule>

<Files *.tpl>
    Order deny,allow
    Deny from All
</Files>
